<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tipos.css') }}">
    <title>Document</title>
<body>
    <header class="header_principal">
        <img class="logo" src="{{ url_for('static', filename='img/LOGO_PROYECTO.png') }}" alt="logo">
        <button class="abrir_menu" id="abrir"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar_menu" id="cerrar"><i class="bi bi-x-circle"></i></button>
            <ul class="nav_list">
                <li><a href="{{ url_for('index') }}">Inicio</a> </li>
                <li><a href="{{ url_for('graficas') }}">Graficas</a> </li>
                <li><a href="{{ url_for('calculo') }}">Gasto en tu casa</a></li>
                <li><a href="{{ url_for('desventajas') }}">Desventajas</a></li>
                <li><a href="{{ url_for('ventajas') }}">Ventajas</a></li>
            </ul>
        </nav>
    </header>   
    <script src="JS/nav.js"></script>

    <div class="div_principaltipos">

        <div class="div_tipos">
            <div class="divuno">
                <h2> Energía mareomotriz </h2>
            </div>
            <div class="divdos">
                <p>Se centra en el aprovechamiento del descenso y ascenso del agua del mar y de sus corrientes ante la acción gravitatoria de la Luna y el Sol para generar electricidad de una forma limpia, si bien solo en aquellos puntos de la costa en los que la mar alta y la baja difieren más de 5 metros de altura es rentable instalar una <a href="{{ url_for('static', filename='img/energia-mareomotriz_generador-de-corriente-de-marea.png') }}">central mareomotriz</a> . </p>
                <p>La energía mareomotriz tienen la ventaja de funcionar de forma bi-direccional, es decir, se puede producir electricidad tanto con la entrada de agua en ciclo de ingreso de agua – flujo, como en ciclo de egreso – reflujo. Según algunos expertos, la mareomotriz tiene un potencial enorme para generar electricidad del mar, pero se necesita aun avanzar más es aspectos de eficiencia. </p>
            </div>
        </div>

        <div class="div_tipos2">
            <div class="divuno">
                <h2> Energía de las corrientes </h2>
            </div>
            <div class="divdos">
                <p>Consiste en el aprovechamiento de la energía cinética contenida en las <a href="{{ url_for('static', filename='img/corrientes_4_original.jpg') }}">corrientes marinas</a> . El proceso de captación se fundamenta en convertidores de energía cinética afines a los aerogeneradores empleando instalaciones submarinas. </p>         
            </div>
        </div>

        <div class="div_tipos3">
            <div class="divuno">
                <h2>  Energía maremotérmica </h2>   
            </div>
            <div class="divdos">
                <p>Se basa en el aprovechamiento de la energía térmica del mar basado en la diferencia de temperaturas entre la superficie del mar y las aguas profundas. Para esclarecer conceptos podemos ver el siguiente esquema de cómo funciona una  <a href="{{ url_for('static', filename='img/central-maremotermica.jpg.webp') }}">central maremotérmica</a>. </p>
                <p>El aprovechamiento de este género de energía requiere que el gradiente térmico sea de cuando menos 20º. Las plantas maremotérmicas convierten la energía térmica en energía eléctrica usando el ciclo termodinámico llamado “ciclo de Rankine” cuyo foco caliente es el agua de la superficie del mar y el foco frío el agua de las profundidades.</p>         
            </div>
        </div>

        <div class="div_tipos4">
            <div class="divuno">
                <h2> Energía de las olas o bien undimotriz </h2>   
            </div>
            <div class="divdos">
                <p>Es el aprovechamiento energético producido por el movimiento de las olas. El oleaje es una consecuencia del rozamiento del aire sobre la superficie del mar, con lo que resulta muy irregular. Ello ha llevado a la construcción de múltiples géneros de máquinas para hacer posible su aprovechamiento. En la siguiente infografía sobre <a href="{{ url_for('static', filename='img/energia-marina.jpg') }}">la energía undimotriz o Energía de las olas</a>  podemos ver el proceso de obtención de electricidad. </p>
                <p></p>         
            </div>
        </div>

        <div class="div_tipos5">
            <div class="divuno">
                <h2> Energía azul o Potencia Osmótica </h2>   
            </div>
            <div class="divdos">
                <p>La energía osmótica, es aquella fuente de energía que se produce cuando se pone en contacto el agua del mar, que presenta una mayor concentración de sales, con el agua dulce, que contiene una concentración menor. </p>
                <p> Se debe conocer cómo se produce y en qué consiste el concepto de ósmosis. Se trata de un proceso físico en el que dos líquidos con diferente concentración de sal se separan por una membrana semipermeable, a través de la cual fluye el líquido con menos concentración de sal hacia el que más tiene.</p>         
                <p> Para obtener energía azul se separa el agua de mar y el agua dulce gracias a esa membrana, que impide que pasen las sales y deja pasar el agua. Esta fluye de forma natural de la menos a la más concentrada y ejerce una presión llamada osmótica, que hace mover una turbina. Así, se produce  <a href="{{ url_for('static', filename='img/ventajas_de_la_energia_azul_2596_1_orig.jpg') }}"> la energía azul.</a> .</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script2.js') }}"></script>
</body>
</html>